In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine(
    "mysql+pymysql://root:12345@localhost:3306/data_quality_project"
)

In [4]:
df_source = pd.read_csv("source_transactions.csv")

df_source.to_sql(
    name="source_transactions",
    con=engine,
    if_exists="replace",
    index=False
)

30000

In [5]:
df_reports = pd.read_csv("reporting_kpis.csv")

df_reports.to_sql(
    name="reporting_kpis",
    con=engine,
    if_exists="replace",
    index=False
)

2000

In [6]:
df_issues = pd.read_csv("data_quality_issues.csv")

df_issues.to_sql(
    name="data_quality_issues",
    con=engine,
    if_exists="replace",
    index=False
)

1000

In [7]:
pd.read_sql("SELECT COUNT(*) FROM source_transactions", engine)

   COUNT(*)
0     30000