In [2]:
%load_ext sql
%sql mysql+mysqlconnector://root:12345@localhost/

In [4]:
%%sql
# CREATE DATABASE data_quality_project;
USE data_quality_project;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [5]:
%%sql
CREATE TABLE source_transactions_backup AS
SELECT * FROM source_transactions;

 * mysql+mysqlconnector://root:***@localhost/
30000 rows affected.

[]

In [6]:
%%sql
SELECT 
    metric_name,
    record_status,
    COUNT(*) AS row_count
FROM source_transactions
GROUP BY metric_name, record_status
ORDER BY metric_name;

 * mysql+mysqlconnector://root:***@localhost/
9 rows affected.

[('Orders', 'duplicate', 544),
 ('Orders', 'missing', 491),
 ('Orders', 'valid', 9090),
 ('Revenue', 'duplicate', 508),
 ('Revenue', 'missing', 460),
 ('Revenue', 'valid', 8939),
 ('Tickets', 'duplicate', 508),
 ('Tickets', 'missing', 488),
 ('Tickets', 'valid', 8972)]

In [7]:
%%sql
UPDATE source_transactions
SET record_status = 'missing'
WHERE metric_name = 'Orders'
AND record_status = 'valid'
LIMIT 300;

 * mysql+mysqlconnector://root:***@localhost/
300 rows affected.

[]

In [8]:
%%sql
UPDATE source_transactions
SET record_status = 'duplicate'
WHERE metric_name = 'Orders'
AND record_status = 'valid'
LIMIT 200;

 * mysql+mysqlconnector://root:***@localhost/
200 rows affected.

[]

In [9]:
%%sql
UPDATE source_transactions
SET record_status = 'valid'
WHERE metric_name = 'Revenue'
AND record_status = 'missing'
LIMIT 200;

 * mysql+mysqlconnector://root:***@localhost/
200 rows affected.

[]

In [10]:
%%sql
UPDATE source_transactions
SET record_status = 'valid'
WHERE metric_name = 'Revenue'
AND record_status = 'duplicate'
LIMIT 150;

 * mysql+mysqlconnector://root:***@localhost/
150 rows affected.

[]

In [11]:
%%sql
UPDATE source_transactions
SET record_status = 'missing'
WHERE metric_name = 'Tickets'
AND record_status = 'valid'
LIMIT 150;

 * mysql+mysqlconnector://root:***@localhost/
150 rows affected.

[]

In [12]:
%%sql
SELECT 
    metric_name,
    record_status,
    COUNT(*) AS row_count
FROM source_transactions
GROUP BY metric_name, record_status
ORDER BY metric_name;

 * mysql+mysqlconnector://root:***@localhost/
9 rows affected.

[('Orders', 'duplicate', 744),
 ('Orders', 'missing', 791),
 ('Orders', 'valid', 8590),
 ('Revenue', 'duplicate', 358),
 ('Revenue', 'missing', 260),
 ('Revenue', 'valid', 9289),
 ('Tickets', 'duplicate', 508),
 ('Tickets', 'missing', 638),
 ('Tickets', 'valid', 8822)]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql